<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin panel</title>

  <style>
    * {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .nav-link.link-dark:hover {
      background-color: #0D6EFD;
      color: white !important;
    }
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500&display=swap" rel="stylesheet">

  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link href="/css/bootstrap-icons.css" rel="stylesheet">

</head>
<body>

<div class="row min-vh-100">

  <div class="col-3">

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light min-vh-100" style="width: 280px;">
      <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">BarberShop ADMIN</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/admin/reservations" class="nav-link link-dark" aria-current="page">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#home"></use>
            </svg>
            Reservations
          </a>
        </li>
        <li>
          <a href="/admin/barbers" class="nav-link active">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#speedometer2"></use>
            </svg>
            Barbers
          </a>
        </li>
        <li>
          <a href="/admin/services" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#table"></use>
            </svg>
            Services
          </a>
        </li>
        <li>
          <a href="/admin/branches" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#grid"></use>
            </svg>
            Branches
          </a>
        </li>

      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
           id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <form th:action="@{/logout}"  method="post">

          <button type="submit" class="btn btn-dark">
            Log out
          </button>
        </form>
      </div>
    </div>

  </div>

  <div class="col-9 mt-lg-5 ">

    <form method="post" action="/admin/barbers/edit" th:object="${barber}">
      <input th:field="${barber.id}" hidden>
      <input th:field="${barber.imageLink}" hidden>
      <div class="mb-3">
        <label for="fullName" class="form-label">Full name</label>
        <input th:field="${barber.fullName}" type="text" class="form-control" id="fullName" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="instagramLink" class="form-label">Instagram link</label>
        <input th:field="${barber.instagramLink}" type="text" class="form-control" id="instagramLink">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="row  mt-lg-5 ">

      <div class="col">
        <h3>Actual image</h3>
        <img height="100px" th:src="${barber.getImageLink()}">
      </div>
      <div  class="col">
        <form method="post" th:action="@{|/images/barber/${barber.getId()}|}" enctype="multipart/form-data">
          Select File: <input onchange="changeOnFile(event)" type="file" name="file"/>
          <button class="btn btn-warning" type="submit">Submit</button>
          <div id="addImage" class="justify-content-center">

          </div>
        </form>

      </div>

    </div>

  </div>


</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/click-scroll.js"></script>
<script src="/js/custom.js"></script>
<script>

  function changeOnFile(event){
    let image = document.createElement('img');
    console.log(URL.createObjectURL(event.target.files[0]))
    image.src = URL.createObjectURL(event.target.files[0]);
    image.height = 50;

    let div = document.getElementById('addImage');

    div.innerHTML = ' ';

    let h6 = document.createElement('h6');
    h6.innerText = 'Selected image: ';

    div.appendChild(h6);
    div.appendChild(image);



  }

</script>
</body>
</html>